<mat-toolbar color="primary" class="header">
	<mat-toolbar-row>
		<span class="font-24px">{{data?.aboutMe?.firstName}} {{data?.aboutMe?.lastName}}</span>
		<span class="horizontal-spacer"></span>
		<button mat-icon-button [matMenuTriggerFor]="matMenu">
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<span class="font-16px">{{data?.aboutMe?.title}}</span>
		<span class="horizontal-spacer"></span>
		<mat-slide-toggle
			(change)="onDarkModeToggle($event)"
			[checked]="darkModeSubject | async"></mat-slide-toggle>
	</mat-toolbar-row>
</mat-toolbar>

<mat-menu #matMenu="matMenu">
	<button mat-menu-item routerLink="/aboutMe">About me</button>
	<button mat-menu-item routerLink="/projects">Projects</button>
	<button mat-menu-item routerLink="/certifications">Certifications</button>
</mat-menu>
